<section id="avatar">
  <div id="avatar-container">
      <h3>Avatar</h3>
      <p>Choose your avatar</p>
     <div class="row">
       <img src="/images/avatars/user015.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user016.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user017.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user018.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user019.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user20.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user21.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user22.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user23.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user24.png" alt="Avatar image" class="avatarImg">
     </div>
     <div class="row">
       <img src="/images/avatars/user25.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user26.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user27.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user28.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user29.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user30.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user31.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user32.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user33.png" alt="Avatar image" class="avatarImg">
       <img src="/images/avatars/user34.png" alt="Avatar image" class="avatarImg">
     </div>
     <div class="row">
         <img src="/images/avatars/user35.png" alt="Avatar image" class="avatarImg">
         <img src="/images/avatars/user36.png" alt="Avatar image" class="avatarImg">
         <img src="/images/avatars/user37.png" alt="Avatar image" class="avatarImg">
         <img src="/images/avatars/user38.png" alt="Avatar image" class="avatarImg">
         <img src="/images/avatars/user39.png" alt="Avatar image" class="avatarImg">
         <img src="/images/avatars/user40.png" alt="Avatar image" class="avatarImg">
         <img src="/images/avatars/user41.png" alt="Avatar image" class="avatarImg">
         <img src="/images/avatars/user42.png" alt="Avatar image" class="avatarImg">
         <img src="/images/avatars/user43.png" alt="Avatar image" class="avatarImg">
         <img src="/images/avatars/user44.png" alt="Avatar image" class="avatarImg">
     </div>
     <a href="/challenges" id="profile-image-button">Next</a>
  </div>
</section>
