<section id="challenges">
  <h3>Challenges<h3>
  <div id="user-profile">

  </div>
  <div id="challenge-container">
      <!--


     <div class="challenge">
       <a href="/challenge/00534523243/">Palindrome Checker</a>
     </div>
     <div class="challenge">
       <a href="/challenge/">Soduku Solver</p>
     </div>
     <div class="challenge">
       <a href="/challenge/"></a>
     </div>
     <div class="challenge">
       <a href="/challenge/">Sieve of Eratosthenes</a>
     </div>
     <div class="challenge">
       <a href="/challenge/">Two Sum Problem</a>
     </div>
     <div class="challenge">
       <a href="/challenge/">The Monty Hall problem</a>
     </div>
     <div class="challenge">
       <a href="/challenge/">Prime Number Generator</a>
     </div>
     <div class="challenge">
       <a href="/challenge/">Dice Roller</a>
     </div>
     <div class="challenge">
       <a href="/challenge/">Email address validator</a>
     </div>
     <div class="challenge">
       <a href="/challenge/">Fizzbuzz</a>
     </div>
     //-->
  </div>
</section>
