<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hackerboard</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
     <div class="container">
      <header>
        <nav>
          <menu>
             <li><div></div><a href="">Flashback</a></li>
          </menu>
          <menu>
              <li><a href="/join">Join</a></li>
              <li><a href="">&#9724;</a></li>
          </menu>
        </nav>
         <div class="logo">
            $$\   $$\                     $$\                           $$\                                           $$\
            $$ |  $$ |                    $$ |                          $$ |                                          $$ |
            $$ |  $$ | $$$$$$\   $$$$$$$\ $$ |  $$\  $$$$$$\   $$$$$$\  $$$$$$$\   $$$$$$\   $$$$$$\   $$$$$$\   $$$$$$$ |
            $$$$$$$$ | \____$$\ $$  _____|$$ | $$  |$$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\  \____$$\ $$  __$$\ $$  __$$ |
            $$  __$$ | $$$$$$$ |$$ /      $$$$$$  / $$$$$$$$ |$$ |  \__|$$ |  $$ |$$ /  $$ | $$$$$$$ |$$ |  \__|$$ /  $$ |
            $$ |  $$ |$$  __$$ |$$ |      $$  _$$<  $$   ____|$$ |      $$ |  $$ |$$ |  $$ |$$  __$$ |$$ |      $$ |  $$ |
            $$ |  $$ |\$$$$$$$ |\$$$$$$$\ $$ | \$$\ \$$$$$$$\ $$ |      $$$$$$$  |\$$$$$$  |\$$$$$$$ |$$ |      \$$$$$$$ |
            \__|  \__| \_______| \_______|\__|  \__| \_______|\__|      \_______/  \______/  \_______|\__|       \_______|
         </div>
      </header>
       <%= yield %>
     </div>
     <script src="/js/main.js"></script>
    </body>
</html>
