<section id="scrolling-container">
 <span>//Top 3 coders</span>
 <div id="scrolling-items">
   <div class="profile">
     <img src="/images/avatars/user00.png" alt="Avatar image">
     <div class="ranking">
       <span>Rank</span>
       <h3>01</h3>
     </div>
     <div>
       <p>@PyHack3r001</p>
       <p>United States</p>
       <p>1200 Pts</p>
       <p>Python</p>
     </div>
   </div>
   <div class="profile">
     <img src="/images/avatars/user001.png" alt="Avatar image">
     <div class="ranking">
       <span>Rank</span>
       <h3>02</h3>
     </div>
     <div>
       <p>@CodeBebop</p>
       <p>Nigeria</p>
       <p>980 Pts</p>
       <p>JavaScript</p>
     </div>
   </div>
   <div class="profile">
     <img src="/images/avatars/user002.png" alt="Avatar image">
     <div class="ranking">
       <span>Rank</span>
       <h3>03</h3>
     </div>
     <div>
       <p>@ArikaCodes</p>
       <p>Japan</p>
       <p>910 Pts</p>
       <p>C</p>
     </div>
   </div>
 </div>
</section>
<section id="rankings">
  <h3>Rankings</h3>
  <div id="rankings-feed">
    <div id="feed-header">
      <div>//Rank</div>
      <div>//Coder</div>
      <div>//Country</div>
      <div>//Score</div>
      <div>//Language</div>
    </div>
   <div class="feed">
    <div class="feed-item">
       <div>01</div>
       <div><img src="/images/avatars/user00.png" alt="Avatar image">@PyHack3r001</div>
       <div>United States</div>
       <div>1200</div>
       <div>Python</div>
    </div>
    <div class="feed-item">
       <div>02</div>
       <div><img src="/images/avatars/user001.png" alt="Avatar image">@CodeBebop</div>
       <div>Nigeria</div>
       <div>980</div>
       <div>JavaScript</div>
    </div>
    <div class="feed-item">
       <div>03</div>
       <div><img src="/images/avatars/user002.png" alt="Avatar image">@AkiraCodes</div>
       <div>Japan</div>
       <div>910</div>
       <div>C</div>
    </div>
    <div class="feed-item">
       <div>04</div>
       <div><img src="/images/avatars/user003.png" alt="Avatar image">@RainbowDev</div>
       <div>United Kingdom</div>
       <div>870</div>
       <div>Clojure</div>
    </div>
    <div class="feed-item">
       <div>05</div>
       <div><img src="/images/avatars/user004.png" alt="Avatar image">@FlipBits</div>
       <div>Netherlands</div>
       <div>810</div>
       <div>C++</div>
    </div>
    <div class="feed-item">
       <div>06</div>
       <div><img src="/images/avatars/user005.png" alt="Avatar image">@Cody002</div>
       <div>Australia</div>
       <div>788</div>
       <div>Gleam</div>
    </div>
    <div class="feed-item">
       <div>07</div>
       <div><img src="/images/avatars/user006.png" alt="Avatar image">@0xSheila</div>
       <div>Canada</div>
       <div>788</div>
       <div>Python</div>
    </div>
    <div class="feed-item">
       <div>08</div>
       <div><img src="/images/avatars/user007.png" alt="Avatar image">@is_the_computer_on</div>
       <div>Korea</div>
       <div>700</div>
       <div>Nim</div>
    </div>
    <div class="feed-item">
       <div>09</div>
       <div><img src="/images/avatars/user008.png" alt="Avatar image">@user00012</div>
       <div>China</div>
       <div>699</div>
       <div>Rust</div>
    </div>
    <div class="feed-item">
       <div>10</div>
       <div><img src="/images/avatars/user009.png" alt="Avatar image">@__n4n0__</div>
       <div>United Kingdom</div>
       <div>870</div>
       <div>Go</div>
    </div>
    <div class="feed-item">
       <div>11</div>
       <div><img src="/images/avatars/user010.png" alt="Avatar image">@ShoMbatha</div>
       <div>South Africa</div>
       <div>810</div>
       <div>Ruby</div>
    </div>
    <div class="feed-item">
       <div>12</div>
       <div><img src="/images/avatars/user011.png" alt="Avatar image">@Giorgio</div>
       <div>Turkey</div>
       <div>788</div>
       <div>PHP</div>
    </div>

    <div class="feed-item">
       <div>13</div>
       <div><img src="/images/avatars/user012.png" alt="Avatar image">@Nunu</div>
       <div>Brazil</div>
       <div>766</div>
       <div>Lua</div>
    </div>
    <div class="feed-item">
       <div>14</div>
       <div><img src="/images/avatars/user013.png" alt="Avatar image">@Rangika</div>
       <div>India</div>
       <div>754</div>
       <div>JavaScript</div>
    </div>
    <div class="feed-item">
       <div>15</div>
       <div><img src="/images/avatars/user014.png" alt="Avatar image">@Esmeralda</div>
       <div>United States</div>
       <div>742</div>
       <div>Elixir</div>
    </div>
   </div>
  </div>
</section>
<footer>

</footer>
